<div style="margin-top: 15px">
	<input type="text" placeholder="Todo item" ng-model="newTodo.title" />
	<button class="btn btn-primary" ng-click="addTodo(newTodo)">
		Add item
	</button>
</div>
<div style="margin-top: 15px" class="todo-items">
	<div todosList="app.todoItems | archivedTodos" ></div>
	<ul>
		<li class="todo-item" ng-repeat="todo in app.todoItems | archivedTodos" ng-class="{completed: todo.isComplete}">
			<div class="view"></div>
			<form ng-submit="updateTodo(todo)">
				<input type="checkbox" ng-checked="todo.isComplete" ng-model="todo.isComplete" ng-change="updateTodo(todo)" />
				<input class="edit" ng-trim="false" ng-model="todo.title" ng-blur="updateTodo(todo)" >
			</form>
			<button class="destroy" ng-click="archiveTodo(todo)">Archive</button>
			<button class="destroy" ng-click="removeTodo(todo)">Remove</button>
		</li>
		</li>
	</ul>
	<div class="stat">
		{{isCompleteCount()}} of {{app.todoItems.length}} items completed
	</div>
</div>