<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <header>
            <h1>{{ app.name }}</h1>
        </header>
        <div class="body-content" >
            <div style="margin-top: 15px">
                <input type="text" placeholder="Todo item" ng-model="todoItem"/>
                <button class="btn btn-primary" ng-click= "createItem(todoItem)">
                    Add item
                </button>
            </div>
            <todo-list todos="app.todoItems" option="trashed"></todo-list>
<!--
            <div style="margin-top: 15px" class="todo-items">
                <ul>
                    <li class="todo-item" ng-repeat ="items in app.todoItems">
                        <input type="checkbox" ng-model="items.isComplete" title="Complete" ng-change="updateTodos(items)"/>
                        &nbsp; {{items.title}}
                        <a style="margin-left: 20px;" title="Archive" ng-click="archiveTodos(items)">Archive</a>
                        <a style="margin-left: 20px;" ng-click="removeItem($index)">delete</a>
                    </li>
                </ul>
                <div class="stat">{{completedItems}} of {{app.todoItems.length}} items completed</div>
            </div>
-->
            
        </div>
        <footer style="margin-top: 20px;">
            <ul class="list-inline-piped">
                <li>
                    <a href="#/archived">archived</a>
                </li>
                <li>
                    <a href="#/trashed">trashed</a>
                </li>
                <li>
                    <a href="#/all">all</a>
                </li>
            </ul>
        </footer>
    </div>
</div>
        