<!doctype html>

<html lang="en" ng-app="TodoApp">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MY TODO</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
        <link rel="stylesheet" href="/assets/css/style.css"/>

    </head>
    <body>
        <div class="row" ng-controller="TodoController">
            <div class="col-md-8 col-md-offset-2">
                <header>
                    <h1>{{ app.name }}</h1>
                    <h2>{{app.getTodosStatus}}</h2>
                </header>
                <div class="body-content" >
                    <div style="margin-top: 15px">
                        <input type="text" placeholder="Todo item" ng-model="todo" />
                        <button class="btn btn-primary" ng-click="createItem(todo)">
                            Add item
                        </button>
                    </div>

                    <div style="margin-top: 15px" class="todo-items">
                        <ul>
                        	&nbsp; Added items
                        	
                        	<li class="todo-item" ng-repeat="item in app.todoItems">
                        		{{item.title}}	
                                <input type="checkbox" ng-model = "item.isComplete" ng-change="markDone(item)"/>
                                
                                <a ng-click="removeItem(item)">remove</a>
                            </li>
                        	
                            
                        </ul>
                        <div class="stat">{{app.completed}} of {{app.todoItems.length}} items completed</div>
                    </div>
                </div>
                <footer style="margin-top: 20px;">
                    <ul class="list-inline-piped">
                        <li>
                            <a href="/archived">archived</a>
                        </li>
                        <li>
                            <a href="/trashed">trashed</a>
                        </li>
                        <li>
                            <a href="/all">all</a>
                        </li>
                    </ul>
                </footer>
            </div>
        </div>
        <script src="/lib/angular/1.2.9/angular.js"></script>
        <script src="/lib/angular/1.2.9/angular-resource.js"></script>
        <script src="/lib/angular/1.2.9/angular-route.js"></script>
        <script src="/lib/jQuery/jquery-1.9.1.min.js"></script>
        <script src="/app/app.js"></script>
        <script src="/app/todo/controllers/todoController.js"></script>
        <script src="/app/_common/services/kinvey.js"></script>
        <script src="/lib/jQuery/jquery-ui-1.10.0.min.js"></script>
    </body>
</html>
